<mat-form-field class="admin-datepicker">
  <mat-label>{{label}}</mat-label>
  <input 
      [id]="id"
      matInput 
      [matDatepicker]="picker"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      #adminDatePickerControl="matInput"
      [disabled]="disabled"
      (dateChange)="dateChange.emit($event.value)"
      (dateInput)="dateInput.emit($event.value)">
  <mat-hint>{{hint}}</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [panelClass]="'admin-datepicker-panel'"></mat-datepicker>
  <mat-error>{{errorMsg}}</mat-error>
</mat-form-field>