
@use '@angular/material' as mat;
@import '../../../../node_modules/@admin-components/styles/main.scss';

.test-chip-input {
    // text input styles
    mat-form-field {

        --mat-form-field-container-height: 48px;
        width: 100%;
        font-family: "RobotoRegular", sans-serif;
        font-size: 14px;

        &.disabled {
            .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
                border-color: $border;
            }
            .mdc-text-field--filled {
                opacity: 0.5;
            }
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled){
            background-color: $color-white;
        }
        
        .mat-mdc-text-field-wrapper .mat-mdc-form-field-focus-overlay{
            opacity: 0;
        }

        .mat-mdc-form-field-flex {
            height: 100%;
        }

        .mat-mdc-form-field-infix {
            padding: 20px 0 0 0;
        }

        .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--invalid {
            border: 1px solid mat.get-color-from-palette($md-warn, 500);
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .mdc-text-field--filled {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .mdc-text-field--filled .mdc-floating-label {
            font-size: 14px;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: $color-white;
            border: 1px solid $border;
            &:hover {
                border-color: mat.get-color-from-palette($md-accent, 500); 
            }
        }
        .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--focused {
            border-color: mat.get-color-from-palette($md-accent, 500); 
        }

        .mdc-text-field--filled.mdc-text-field--disabled {
            border: 1px solid $border;
            background-color: rgba($color-white, 0.5);
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused {
            background-color: $color-white;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-floating-label--float-above {
            color: mat.get-color-from-palette($md-accent, 500);
        }

        .mdc-line-ripple {
            display: none;
        }

        .mat-mdc-input-element.mat-mdc-form-field-input-control.mdc-text-field__input.cdk-text-field-autofill-monitored{
            line-height: 18px;
        }

        .mat-mdc-form-field-hint {
            color: mat.get-color-from-palette($md-gray, 600);
        }
    }
    // chips styles
    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
        border-radius: 20px;
        box-sizing: border-box;
        height: 40px;
        max-width: 360px;
        &[chip-color="accent"] {
            background-color: mat.get-color-from-palette($md-accent,500);
            .mdc-evolution-chip__text-label, .mdc-evolution-chip__icon--trailing{
                color: mat.get-contrast-color-from-palette($md-accent, 500);
                opacity: 1;
            }
            &:hover {
                background-color: mat.get-color-from-palette($md-accent, 700);
            }
        }
        &[chip-color="light"]{
            background-color: $color-white;
            border: 1px solid $border;
            .mdc-evolution-chip__text-label, .mdc-evolution-chip__icon--trailing{
                color: mat.get-color-from-palette($md-gray, 700);
                opacity: 1;
            }
            &:hover {
                background-color: mat.get-color-from-palette($md-gray, 100);
            }
        }
    }
    .mat-mdc-standard-chip.mdc-evolution-chip--disabled{
        height: 40px;
        border-radius: 20px;
    }
    .mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
        padding-left: 16px;
    }
    .mat-mdc-standard-chip .mdc-evolution-chip__icon--primary,
    .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing,
    .mdc-evolution-chip--with-avatar.mdc-evolution-chip--with-primary-graphic.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
        padding-right: 16px;
    }
    .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
    .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
    .mat-mdc-standard-chip .mat-mdc-chip-action-label {
        overflow: hidden; // https://stackoverflow.com/questions/76313304/angular-material-16-chip-text-with-overflow
    }
    .mdc-evolution-chip__text-label { //https://stackoverflow.com/questions/76313304/angular-material-16-chip-text-with-overflow
        // white-space: nowrap;
        // user-select: none;
        // text-overflow: ellipsis;
        // overflow: hidden;
    }
    .mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
        display: flex;
        align-items: center;
        font-family: "RobotoMedium", sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.25px;
        mat-icon {
            padding-right: 12px;
        }
        .chip-text {
            white-space: nowrap;
            user-select: none;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-flex;
            span {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .mat-mdc-chip-remove .mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        flex-shrink: 0;
    }

    .mdc-evolution-chip--with-avatar.mdc-evolution-chip--with-primary-graphic.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__graphic{
        padding-left: 0;
    }
    .mdc-evolution-chip-set__chips {
        max-width: 100%;
        margin-bottom: 4px;
    }
 } 