<mat-form-field 
    class="test-admin-chip-input"
    [class.disabled]="disabled">
    <mat-label>{{label}}</mat-label>
    <mat-chip-grid #chipGrid>
      @for (chip of chips; track chip) {
        <mat-chip-row
          [disabled]="disabled"
          (removed)="remove(chip)"
          [attr.chip-color]="chip.color"
          [attr.chip-type]="getChipType(chip)">
          @if(chip.img) {
            <img matChipAvatar src="{{chip.img}}"/>
          }
          @if(chip.iconFontFamily && chip.iconFontName) {
            <mat-icon class="{{chip.iconFontFamily}}" fontIcon="{{chip.iconFontName}}"></mat-icon>
          }
          <div class="chip-text">
              <span class="subtext" [matTooltip]="chip.subtext || '' ">{{chip.subtext}}</span>
              <span class="text" [matTooltip]="chip.text">{{chip.text}}</span>
          </div>
          <button matChipRemove>
            <mat-icon class="mat-icons-outlined" fontIcon="close"></mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        [disabled]="disabled"
        [placeholder]="placeholder"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
      <mat-hint>{{ hint }}</mat-hint>
  </mat-form-field>